@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@theme{
    --color-top:#7E33E0;
    --font-main:"Josefin Sans",sans-serif;
    --font-loto:"Lato", sans-serif;
}

.slick-dots li{
    display: inline-block;
    margin: 0 7px;
    background: #FEBAD7;
    height: 5px;
    width: 14px;
    border-radius: 10px;
    color: transparent;
}
.slick-dots .slick-active{
    background: #FB2E86;
    height: 5px;
    width: 24px;
    border-radius: 10px;
}
.slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}